*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.144),rgba(4, 9, 30, 0.103)),url("./images/banner.png");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.location{
    width: 100%;
}